# Node.js dependencies
/node_modules
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# Build outputs
/dist
/build

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# React specific
/.cache
/.next
/out
/public/build

# MongoDB data (if using local DB folder)
data/
dump/
